<%- include('partials/header') -%>

    <div class = "form">
        <!-- extracting the commentid by <%= comment.id %> -->
        <form action="/comments/<%= comment.id %>" method="POST" >
            <h2>Edit Comment</h2>
            
            <textarea class="form-control" name="text"  rows="5" placeholder="Update Comments">
                <%= comment.text %>
            </textarea>
            
            <!-- Likes should not be captured from form and that will always be default to 0 and people can increment it, if they want to -->

            <button class="btn" type="submit">Update Comments</button>
            
        </form>
    </div>
    
<%- include('partials/footer') -%>

